body{
    margin: 0;
    padding: 0;
}

main{
    width:100%;
}

#landing-page{    
    text-align: center;
}

.nav-slider{
    padding: 15px;
    cursor: pointer;
    position: fixed;
    }
    
.line{
    background: white;
    height: 3px;
    margin: 5px;
    width: 30px;
}


.nav-slider-section{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    transform: translateX(-100%);
    z-index:1;    

}

.close-nav-slider{
    border:none;
    outline:none;
    float:right;
    background: transparent;
    color: #f1c40f;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;

}

.nav-links-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    list-style: none;
    
}

.nav-links a{
    text-decoration: none;
    list-style: none;
    color: #eee;
    font-size: 1em;
}

.nav-links-container li{
    text-align: center;
    padding:10px;
    text-decoration: none;
    list-style: none;
    font-size: 50px;
}

.openNav{
    animation: openNav 0.5s forwards;

}

.closeNav{
    animation: closeNav 0.5s forwards;

}




@keyframes openNav {
    100%{
        transform: translateX(0%);

    }

}

@keyframes closeNav {
    0%{
        transform: translateX(0%);

    }

    100%{
        transform: translateX(-100%);
    }

}

.flex-container {
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-wrap: wrap;
    background-image: url("../images/bricks.jpeg");
    background-size: cover;
    
    
  }

  .flex-container .line-two, .line-three, .line-four, .line-five{
    align-items: center;
    background-color: black;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width:75%;
  }

  
  .flex-container .line-one{
    align-items: center;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    min-width: 90%;
   
}

.title-background{
    
    width: fit-content;
    margin: auto;
    padding:0px;
}

.title-background img{
    width: 100%;    
    padding-bottom: 10px;
    margin:10px;
    
    
    
}



.title{
    text-align: center;
    color: #d0d3d4;
    
    
}

.title h2{
height: 80px;
}







#restaurant-info{
    background:#070707;
    border-bottom: 1px solid red;
    padding:0;
    margin: 0;
    height: 100vh;
    
    
}

.restaurant-info-header{
    color: red;
    text-align: center;
    padding:10px;
    font-size: 25px;
}

.restaurant-info-title{
    color: #d3cacb;
    text-align: center;
    padding: 5px;

}

.address,.hours,.phone{
 font-size:1em;
 text-align: center;

}

.phone{
    margin-bottom: 20px;
}

.address-content,.business-hours,.contact-content{
    padding:10px;
}

.info-container{
    display: grid;
    grid-template-columns: 1fr;

}

@media screen and (min-width: 768px){
    .info-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .address-content, .business-hours{
        border-right: 1px solid #eee;
    }

    
    
}


